<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mossman Scuba</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>


      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="#" class="button">Scooters</a></li>
             <li><a href="#" class="button">Videos</a></li>
             <li><a href="#" class="button">Gear</a></li>
             <li><a href="#" class="button">Reports</a></li>
            </ul>
          </div>
          <a href="/"><h1>Mossman Scuba</h1></a>
          <hr/>
        </div>
      </div>

      <div class="row">


        <div class="large-9 columns" role="content">
    <%= yield %>

        </div>

        <aside class="large-3 columns">

          <h5>Archives</h5>
          <ul class="side-nav">
            <li><a href="#">News</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Weasels</a></li>
          </ul>

          <!-- <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More →</a>
          </div> -->

        </aside>


      </div>

      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright 2004-2014 Mossman Scuba. All Rights Reserved</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Scooters</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Gear</a></li>
                <li><a href="#">Reports</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
